body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#forecast {
    margin-top: 20px;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.forecast-day {
    background: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.forecast-day h5 {
    margin: 0;
}

.forecast-day p {
    margin: 5px 0;
}


@media only screen and (max-width: 600px) {
    .container{
        padding: 300px 0 30px 0;
    }
    
    #forecast-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}