body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

#weather-container {
    text-align: center;
    background: transparent;
    margin-top: 20px;
    padding: 20px 220px 90px 220px;
    border-radius: 10px;
}

input{
    padding: 12px 60px 12px 20px;
    margin: 5px;
    background: linear-gradient(120deg, rgb(255, 255, 255), #ffffff20,  rgba(206, 205, 205, 0.3), rgb(255, 255, 255));
    border-radius: 12px;
    border: 1px transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 6px 6px 8px 0px rgba(156, 153, 159, 0.5);
    min-width: 200px;
}

input:focus
{
    border: none;
    outline: transparent;
    background: linear-gradient(120deg, rgb(255, 255, 255), #ffffff20,  rgba(206, 205, 205, 0.3), rgb(255, 255, 255)) !important;
}

input:active{
    background: linear-gradient(120deg, rgb(255, 255, 255), #ffffff20,  rgba(206, 205, 205, 0.3), rgb(255, 255, 255)) !important;
}

#city{
    font-family: 'DM Sans';
    font-size: 13px;
    text-align: left;
}

button {
    position: fixed;
    top: 88px;
    margin: 0 0 0 5px;
    background: linear-gradient(120deg, rgb(255, 255, 255), #ffffff20, rgb(255, 255, 255));
    border-radius: 12px;
    padding: 5px;
    border: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 6px 6px 8px 0px rgba(156, 153, 159, 0.5);   
    transition: transform 0.2s ease;
}

.search-icon{
    width: 30px;
}

#forecast {
    margin-top: 20px;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 40px;
}

.forecast-day {
    background: linear-gradient(120deg, rgb(255, 255, 255),  #ffffff20, #ffffff20,  #ffffff20, rgb(255, 255, 255));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 6px 6px 10px 0px rgba(156, 153, 159, 0.5);   
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    width: 130px;
    height: 200px;
}

.forecast-day p {
    margin: 5px 0;
}

.current-weather{
    width: 70px;
}


@media only screen and (max-width: 600px) {
    .container{
        padding: 300px 0 30px 0;
    }
    
    #forecast-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}